/*Furious add to cart( furious shopping cart, quantity <600px*/
.main_container_add_to_cart {
    height: 140vh;
}

.information_field_over_1200px {
    display: none;
}

.shopping_container {
    display: flex;
    flex-direction: column;
    width: min(80%, 450px);
    margin: auto;
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;
}

.shopping_container>* {
    margin-bottom: 12px;

}

.shopping_container h1 {
    margin: 20px 0px 10px 0px;
}

.shipping {
    margin: 0px auto 79px auto;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    position: relative;
    top: 78px;
    left: 20px;
}

.heading_hide_your_under_1200px,
.furious_game_information {
    display: none;
}

.table th,
tr {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 0%;
}

.table {
    position: relative;
    top: 43px;
    justify-content: right;
    display: flex;
    left: 75px;
}

.furious_img_add_to_cart {
    width: min(100%, 450px);
    margin: 10px 0px 10px 0px;
}

.purchase {
    background-color: var(--base_color);
    color: #fff;
    margin-bottom: 100px;
}

.purchase:hover {
    background-color: #fff;
    border-style: solid;
    color: var(--base_color);
}

.left_title_furious {
    float: left;
}

.right_price {
    float: right;
}

.left_quantity {
    float: left;
    position: relative;
    top: 49px;
    right: 59px;
    font-size: 27px;
}

.right_totalprice {
    top: 25px;
    position: relative;
    font-size: 25px;
    justify-content: center;
    display: flex;
}


@media (min-width: 1200px) {

    /*Furious add to cart(shopping cart +1200px*/

    .information_field_over_1200px {
        display: inline-flex;
        background-color: #d2d2c6;
        height: 23px;
        width: 900px;
        position: relative;
        top: -51px;
        right: 2px;
        justify-content: space-between;
        padding: 3px;
    }

    .furious_headers {
        height: 69vh;
    }

    .shopping_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .furious_img_add_to_cart {
        width: 180px;
        position: relative;
        top: -110px;
        left: 6px;
    }

    .heading_hide_your_under_1200px {
        display: inline-flex;
    }

    .heading_add_to_cart_page {
        position: relative;
        top: -174px;
        right: 195px;
    }

    .tabel_pointer {
        cursor: pointer;
    }

    .container_outline_1200px {
        width: 900px;
        height: 260px;
        outline: var(--base_color) solid 3px;
        position: relative;
        top: 230px;
    }

    .purchase {
        position: relative;
        top: 330px;
        left: 290px;
    }


    .right_price {
        position: relative;
        top: -264px;
        right: 90px;
    }

    .furious_game_information {
        display: inline-flex;
        position: relative;
        top: -264px;
        left: 138px;
    }

    .shipping {
        float: right;
        top: -58px;
    }

    .left_title_furious {
        position: relative;
        top: -318px;
        left: 203px;
    }

    .left_quantity,
    .remove_total {
        display: none;
    }

    .right_totalprice {
        display: inline;
        top: -421px;
        left: 400px;
        font-size: 16px;
    }

    .information_field_over_1200px p:last-child {
        position: relative;
        right: 100px;
    }

    .information_field_over_1200px p:nth-child(2) {
        position: relative;
        right: -115px;
    }

    .table {
        top: -295px;
        left: -270px;
    }

}