@import url(index.css);
@import url(account.css);
@import url(contact.css);
@import url(login.css);
@import url(furious.css);
@import url(newreleases.css);
@import url(addtocart.css);
@import url(checkout-succsess-page.css);
@import url(search-result-page.css);
@import url(games.css);
@import url(signup.css);

/*global styles*/

html {
    text-transform: capitalize;
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body p {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --base_color: #2b4d6f;
}

h1,
.vr-cta-view-more {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2.2rem;
    padding: 10px;
}

header {
    background-color: var(--base_color);
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: flex-end;
    height: 125.6px;
    position: relative;
    z-index: 1;
}

.top-header {
    position: absolute;
    right: 15px;
}

.shopping_bag {
    margin-right: 40px;
    margin-top: 15px;
}

.logo {
    margin-right: auto;
}

/*searchfield*/
.search {
    display: flex;
    display: inline-flex;
}

/*Links*/

.logo img {
    height: 65px;
    margin: 16px 0px -15px 24px;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 a {
    text-decoration: none;
    color: var(--base_color);
}

.active {
    text-decoration: underline;
}

nav {
    display: none;
    position: absolute;
    top: 125px;
    background-color: var(--base_color);
    z-index: 1000;
    right: 0px;
    font-family: 'Russo One', sans-serif;
    width: 100%;
}

.gamepicker h2:hover,
nav li a:hover {
    color: black;
}

nav li {
    display: block;
    padding: 10px 4px;
    line-height: 0.5;
    display: inline-block;
}

nav ul:first-child {
    padding-left: 0px;
}

nav ul:last-child {
    padding-right: 0px;
}

li a {
    margin-top: 5px;
    white-space: nowrap;
}

/* nav dropdowlist start*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_hardware {
    display: none;
    position: absolute;
    background-color: var(--base_color);
    z-index: 9000;
    margin-top: 10px;
}

.dropdown_hardware ul {
    color: #fff;
    display: block;
}

.dropdown_hardware ul:hover {
    background-color: var(--base_color);
    padding: 20px 20px;
    margin-top: 3px;
}

.dropdown:hover>ul {
    display: none;
}

/* nav dropdowlist end*/

.cta {
    position: absolute;
    background-color: #FC1222;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-color: #fff;
    font-size: 1.1rem;
    font-family: 'Russo One', sans-serif;
    bottom: 65px;
    right: 17px;
    z-index: 1001;
}

.user-account,
#hamburger-menu,
.login {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

.hamburgerbars {
    margin-top: 85px;
    margin-right: 5%;
    font-size: 25px;
    padding: 6px;
    z-index: 1001;
}

.login-mobil {
    margin-left: auto;
    padding: 75px 15px 0px 0px;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    z-index: 1001;
}

.searchbutton {
    color: var(--base_color);
    background-color: #fff;
    border-radius: 3px;
    padding: 7px 5.5px 7px 5.5px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    display: none;
}

/*footer*/

.footer_section_2 {
    border-top-color: black;
    text-align: center;
    border-top-style: solid;
}

footer {
    background-color: #eeeee3;
}

.logo-footer img {
    height: 120px;
    display: none;
}

.signup {
    color: white;
    font-weight: bold;
}

.visitbold,
.contactbold {
    font-weight: bold;
}

.footer_section_1 h4 {
    padding-bottom: 3px;
}

.footer_section_1 {
    margin: 0px 0px 10px 30px;
    padding: 5px;
    position: relative;
}

.footerstyle {
    padding-top: 35px;
}

.footerstyle p {
    padding: 4px;
}

.footerstyle a {
    color: #000;
}

.signup a {
    color: #fff;
}

.social-media {
    background-color: var(--base_color);
    text-align: center;
    color: #FFC02E;
    padding: 25px 0px 20px 0px;
    font-size: 35px;
}

.social-media-icons {
    padding-bottom: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.fab {
    padding: 19px;
}

.game-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-picker-child {
    flex: 1 1 100px;
    margin: 5px;
    padding: 3%;
    display: grid;
    place-items: center;
}

.paragraph {
    position: absolute;
    background-color: #fff;
    width: 260px;
    height: 60px;
    border-radius: 20px;
    padding: 30px;
    bottom: -25px;
    left: 40px;
}


@media (min-width: 600px) {

    nav,
    nav li {
        display: inline-flex;
        width: auto;
    }

    .dropdown:hover>ul {
        display: block;
    }

    .login-mobil,
    .hamburgerbars,
    .searchfield,
    .searchbutton {
        display: none;
    }

    .social-media-icons {
        font-size: 50px;
    }

    nav ul {
        margin: 0px;
    }

    .login {
        display: inline-flex;
    }

    nav {
        top: 84px;
    }

    .cta {
        right: 90px;
        font-size: 1.8rem;
    }
}


@media (min-width: 1200px) {

    h1,
    .cta {
        font-size: 3rem;
    }

    .footer_section_1,
    .footer_section_2 {
        display: grid;
        grid-auto-flow: column;
    }

    .footer_section_1,
    .footer_section_2 h4 {
        padding-top: 25px;
    }

    .logo-footer img {
        height: 120px;
        display: block;
        margin: 30px 0px 20px 30px;
    }

    .cta:hover {
        border-color: #D31421;
        background-color: #D31421;
    }

    nav ul {
        margin: 0px;
    }

    .searchtool {
        display: none;
    }

    .login {
        display: inline-flex;
        padding-right: 0px;
    }

    .searchfield,
    .searchfield input,
    .searchbutton {
        display: inline-flex;
    }

    nav {
        top: 78px;
    }


    .snapchat:hover,
    .facebook:hover,
    .snapchat:hover {
        color: #000;
    }
}