/*global styles*/

html {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body p {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --base_color: #395B7D;
}

h1,
.vr-cta-view-more {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2.2rem;
    padding: 10px;
}

header {
    background-color: var(--base_color);
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: flex-end;
    height: 125.6px;
    position: relative;
    z-index: 1;
}

.logo {
    margin-right: auto;
}

/*search*/
.search {
    display: flex;
    display: inline-flex;
}

/*Links*/

.logo img {
    height: 65px;
    margin: 16px 0px -15px 24px;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 a {
    text-decoration: none;
    color: var(--base_color);
}

.active {
    text-decoration: underline;
}

nav {
    display: none;
    position: absolute;
    top: 125px;
    background-color: var(--base_color);
    z-index: 1000;
    right: 0px;
    font-family: 'Russo One', sans-serif;
    width: 100%;
}

.gamepicker h2:hover,
nav li a:hover {
    color: black;
}

nav li {
    display: block;
    padding: 10px 4px;
    line-height: 0.5;
    display: inline-block;
}

nav ul:first-child {
    padding-left: 0px;
}

nav ul:last-child {
    padding-right: 0px;
}

li a {
    margin-top: 5px;
    white-space: nowrap;
}

/* nav dropdowlist start*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_hardware {
    display: none;
    position: absolute;
    background-color: var(--base_color);
    z-index: 9000;
    margin-top: 10px;
}

.dropdown_hardware ul {
    color: #fff;
    display: block;
}

.dropdown_hardware ul:hover {
    background-color: var(--base_color);
    padding: 20px 20px;
    margin-top: 3px;
}

.dropdown:hover>ul {
    display: none;
}

/* nav dropdowlist end*/

.cta {
    position: absolute;
    background-color: #FC1222;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-color: #fff;
    font-size: 1.1rem;
    font-family: 'Russo One', sans-serif;
    bottom: 65px;
    right: 17px;
    z-index: 1001;
}

.cta-view-more {
    background-color: var(--base_color);
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1.5em;
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
    /*display: none;*/
}

.cta-view-more:hover {
    background-color: #fff;
    border-style: solid;
    color: var(--base_color);
}

.user-account,
#hamburger-menu,
.login {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

.hamburgerbars {
    margin-top: 85px;
    margin-right: 5%;
    font-size: 25px;
    padding: 6px;
    z-index: 1001;
}

.login-mobil {
    margin-left: auto;
    padding: 75px 15px 0px 0px;
    /*padding-right: 15px;
padding-top: 75px;*/
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    z-index: 1001;
}

.searchbutton {
    color: var(--base_color);
    background-color: #fff;
    border-radius: 3px;
    padding: 7px 5.5px 7px 5.5px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    display: none;
}



/*footer*/

.footer_section_2 {
    border-top-color: black;
    text-align: center;
    border-top-style: solid;
}

footer {
    background-color: #eeeee3;
}

.logo-footer img {
    height: 120px;
    display: none;
}

.signup {
    color: white;
    font-weight: bold;
}

.visitbold,
.contactbold {
    font-weight: bold;
}

.footer_section_1 h4 {
    padding-bottom: 3px;
}

.footer_section_1 {
    margin: 0px 0px 10px 30px;
    padding: 5px;
    position: relative;
}

.footerstyle {
    padding-top: 35px;
}

.footerstyle p {
    padding: 4px;
}

.footerstyle a {
    color: #000;
}

.signup a {
    color: #fff;
}

/*homepage <600px */

.next_level_glasses_vr_section {
    color: #fff;
}

.vr-cta-view-more {
    position: absolute;
    background-color: #FC1222;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border-style: solid;
    border-color: #fff;
    font-size: 1.9em;
    bottom: -40px;
    right: 20px;
}



.therealdeal {
    position: absolute;
    top: 50px;
    left: 27px;
    color: #fff;
}

.tradeinoldgames {
    color: #FFF;
    position: absolute;
    bottom: 12px;
    left: 18px;
}

.backgroundpic {
    background-image: url(../Images/large_images/world-collapse-doomsday-scene-digital-painting_desktop_cropped.jpg);
    background-size: cover;
    display: block;
    height: 350px;
    position: relative;
    width: 98%;
    margin: 30px auto;
    background-color: #000;
}

/*Home page dekorations only for viewport +1200px*/

.border1,
.border2,
.border3,
.border4 {
    border: solid #fff;
    position: absolute;
    display: none;
}

.border1 {
    top: 100px;
    right: 300px;
    width: 3px;
    height: 280px;
}

.border2 {
    top: 100px;
    right: 300px;
    width: 23%;
    height: 3px;
}

.border3 {
    bottom: 100px;
    left: 65px;
    width: 48%;
    height: 3px;
}

.border4 {
    left: 65px;
    bottom: 100px;
    width: 3px;
    height: 280px;
}

/* End dekorations Homepage only for viewport +1200px*/


/*VR section home page <600px */

.vr-backgroundpicture {
    background-image: url(../Images/vr-background-image\ copy.jpg);
    background-size: cover;
    display: block;
    height: 500px;
    margin-top: 30px;
    display: none;
    position: relative;
    width: 76%;
    margin: auto;
    border-radius: 15px;

}

.vr-backgroundpicture h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 60px;
}

.games-image {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.social-media {
    background-color: var(--base_color);
    text-align: center;
    color: #FFC02E;
    padding: 25px 0px 20px 0px;
    font-size: 35px;
}

.social-media-icons {
    padding-bottom: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.fab {
    padding: 19px;
    ;
}

.game-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-picker-child {
    flex: 1 1 100px;
    margin: 5px;
    padding: 3%;
    display: grid;
    place-items: center;
}

.paragraph {
    position: absolute;
    background-color: #fff;
    width: 260px;
    height: 60px;
    border-radius: 20px;
    padding: 30px;
    bottom: -25px;
    left: 40px;
}


.vr-paragraph {
    font-weight: bold;
}

/*contact <600px*/

.contact_container {
    display: flex;
    flex-direction: column;
    color: #000;
    min-height: 100vh;
    max-width: 340px;
    align-content: center;
    margin: auto;
}

.contact_header {
    text-align: start;
    margin: 30px 0px 10px 20px;
}

.chat,
.call {
    background: #d0d0ca;
    border-radius: 10px;
    margin: 35px 20px 10px 20px;
    padding: 15px;
    text-align: center;
    position: relative;
    top: -10px;
}

.signupfields {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.signupfields input {
    margin-bottom: 30px;
    border-color: var(--base_color);
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
    height: 35px;
    min-width: 230px;
    justify-content: center;
}

.signupfields textarea {
    border-color: var(--base_color);
    border-radius: 5px;
}

.signupfields label {
    padding-bottom: 10px;
    color: var(--base_color);
    margin-left: 0px;
}

.signupfields h2 {
    font-size: 1.5em;
    padding: 10px;
}

.contact h2 {
    font-family: 'ubuntu', sans-serif;
}

.cta_send {
    color: #fff;
    background-color: var(--base_color);
    padding: 3px 60px 3px 60px;
    border-radius: 5px;
    font-size: 27px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 30px auto 80px auto;
}

.start_chat {
    background-color: var(--base_color);
    border-radius: 3px;
    padding: 7px 20px 7px 20px;
    font-size: 16px;
}

.chat p,
.call p {
    margin: 10px;
    padding: 8px;
}

.call a {
    color: #000;
    text-decoration: underline;
}

/*Furious add to cart( furious shopping cart, quantity <600px*/
.main_container_add_to_cart {
    height: 140vh;
}

.information_field_over_1200px {
    display: none;
}

.shopping_container {
    display: flex;
    flex-direction: column;
    width: min(80%, 450px);
    margin: auto;
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;

}

.shopping_container>* {
    margin-bottom: 12px;

}

.shopping_container h1 {
    margin: 20px 0px 10px 0px;
}

.shipping {
    margin: 0px auto 79px auto;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    position: relative;
    top: 78px;
    left: 20px;
}

.heading_hide_your_under_1200px,
.furious_game_information {
    display: none;
}

.table th,
tr {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 0%;
}

.table {
    position: relative;
    top: 43px;
    justify-content: right;
    display: flex;
    left: 75px;
}

.furious_img_add_to_cart {
    width: min(100%, 450px);
    margin: 10px 0px 10px 0px;
}

.purchase {
    background-color: var(--base_color);
    color: #fff;
    margin-bottom: 100px;
}

.purchase:hover {
    background-color: #fff;
    border-style: solid;
    color: var(--base_color);
}

.left_title_furious {
    float: left;
}

.right_price {
    float: right;
}

.left_quantity {
    float: left;
    position: relative;
    top: 49px;
    right: 59px;
    font-size: 27px;
}

.right_totalprice {
    top: 25px;
    position: relative;
    font-size: 25px;
    justify-content: center;
    display: flex;
}

/*new releases <600px*/

.new_releases_h1 {
    margin: 70px 30px 20px 30px;
    font-size: 40px;
    flex: 1 1 100%;
}

.new_releases_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 100px;
}

.new_releases_games_1 {
    width: min(80%, 550px);
    text-align: center;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.new_releases_games_1 img {
    width: min(80%, 550px);
    margin: 40px 0 10px 0;
}

.new_releases_games_1 p {
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
}

.name_price {
    width: min(80%, 550px);
    margin: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.buy_now {
    background-color: var(--base_color);
    position: relative;
    top: 26px;
    min-width: 60px;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1.5em;
    font-family: 'Russo One', sans-serif;
    margin-top: 10px;
}

/*checkout success page <600px*/

.checkout_container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;

}

.backgroundcolor_brown {
    width: min(100%, 500px);
    height: min(80%, 521px);
    background-color: #e0dbcf;
    z-index: -1;
    position: relative;
    border-radius: 24px;
}

.checkout_h1 {
    background-color: var(--base_color);
    border-radius: 50%;
    width: min(83%, 350px);
    height: min(83%, 350px);
    font-size: 16px;
    position: relative;
    margin: 3% auto 3% auto;
}

.checkout_h1 h1 {
    position: relative;
    font-size: 21px;
    color: #fff;
    align-items: center;
    top: 145px;
}

.succses_container p {
    text-align: left;
    width: min(80%, 400px);
    margin: auto;
    font-weight: bolder;
    font-family: 'ubuntu', sans-serif;
    font-size: 20px;
    position: relative;
}

.continue_shopping {
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    font-family: 'Russo One', sans-serif;
    justify-content: center;
    display: flex;
    margin: 40px auto 40px auto;
    width: min(80%, 200px);
    color: #fff;
    background-color: var(--base_color);
}

.order_number {
    padding-bottom: 18px;
    font-size: 20px;
}

.your_orders {
    color: var(--base_color);
}

/*account <600px*/

.account_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.account_container h1 {
    margin: 25px 0px 35px 0px;
}

.account_img_under1200px {
    height: min(150px, 250px);
    width: min(150px, 250px);
    border-radius: 5px;
}

.signupfields_account {
    width: min(230px, 400px);
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.img_background {
    height: min(170px, 280px);
    width: min(180px, 290px);
    border-radius: 5px;
    background-color: rgb(199, 199, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupfields_account label {
    color: var(--base_color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.signupfields_account input {
    margin: 10px 0px 20px 0px;
    border-color: var(--base_color);
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
    height: 35px;
    background-color: #daedfa;
    width: min(230px, 400px);
}

.account_information_cta {
    margin-bottom: 65px;
}

.account_information_cta a {
    display: flex;
    background-color: var(--base_color);
    color: #fff;
    height: 36px;
    width: min(230px, 400px);
    margin: 30px auto 20px auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
}

.account_information_cta a:hover {
    background-color: #fff;
    border-style: solid;
    color: var(--base_color);
}

.header_salesmembership {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    color: var(--base_color);
}

.account_img_over1200px {
    display: none;
}

.header_salesmembership_under600px {
    display: none;
}

/*search result page <600px*/

.searchresult {
    display: flex;
    flex-direction: row;
}

.searchfield_btn {
    display: flex;
    justify-content: center;
    margin: 100px 0px 40px 0px;
}

.searchtext {
    text-align: start;
    margin-top: 10px;
    text-align: left;
    max-width: 222px;
}

.search_btn {
    height: 35px;
    width: 85px;
    background-color: var(--base_color);
    color: #fff;
    border-radius: 3px;
    border-style: none;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.searchfield_btn input {
    height: 30px;
    border-radius: 3px;
    margin-right: 5px;
    width: min(70%, 800px);
    text-align: right;
    padding-right: 5px;
    outline-style: solid;
    border-style: none;
}

.searchresult>* {
    flex: 1;
}

.searchfield_btn {
    align-items: center;
}

.search_img {
    width: min(90%, 400px);
    margin-bottom: min(17%, 200px);

}

.section_1 {
    display: flex;
    justify-content: flex-end;
    margin: 7px;
}

.section_2 {

    justify-content: flex-start;
    display: block;
    margin: 7px;
}

/*login page <600px*/

.login_container {
    height: 110vh;
}

.login_container>* {
    display: flex;
    flex-direction: column;
    width: min(65%, 280px);
    margin: auto;
}

.login_container h1 {
    margin: 40px 20px 40px 0px
}

.login_container h2 {
    margin: 40px 0px 40px 0px
}

.login_container a {
    color: #000;
}

.login_container .cta_send {
    color: #fff;
}

.login_container .cta_send:hover {
    background-color: #fff;
    border-style: solid;
    color: var(--base_color);
}

.login_or_signup {
    display: flex;
    flex-direction: row;
}

.login_container input {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 25px 0px;
    width: 100%;
}

.fa-circle-plus {
    background-color: #D31421;
    width: 100px;
}

.login_doomsday_image {
    display: none;
}

.hidden {
    display: none;
}

#remember_me {
    position: relative;
    top: 8px;
    margin-right: 5px;
    width: auto;
}

.bank_account_section {
    display: none;
}

#add_bank_account:checked~.bank_account_section {
    display: block;
}

#add_bank_account {
    display: none;
}

.add_bank_details {
    cursor: pointer;
    background-color: var(--base_color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/*furious game <600px*/

.furious {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0px auto 25px auto;
}

.furious h1,
h2 {
    text-align: center;
}

.furious h1 {
    margin-top: 50px;
    font-size: 20px;
}

.furious_left {
    float: left;
}

.price_right {
    float: right;
    font-size: 20px;
}

.image_class {
    display: flex;
    justify-content: center
}

.furious_game_img {
    width: min(80%, 450px)
}

.section_text>* {
    display: flex;
    flex-direction: column;
    width: min(80%, 450px);
    margin: auto;
}

.ratings_header {
    margin-top: 25px;
    font-weight: 700;
}

.game_and_price_info {
    flex-direction: row;
    flex-direction: start and end;
    display: inline-flex;
    width: min(80%, 450px);
    justify-content: center;
    margin: auto;
}

.add_to_cart {
    text-align: center;
    padding: 10px 35px 10px 35px;
    background-color: var(--base_color);
    font-family: 'Russo One', sans-serif;
    border-radius: 10px;
    margin: 15px auto 25px auto;
}

.name_and_price {
    display: flex;
    justify-content: space-between;
    font-family: 'ubuntu', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.name_and_price p {
    margin-top: -10px;
}

/*games*/

.games_header {
    margin-top: 40px;
    font-size: 2.6rem;
}

.categorie_header_games {
    font-size: 25px;
    padding: 10px;
}

.games_grid_container {
    height: fit-content;
}

/*media*/

@media (min-width: 600px) {


    /*games <600px*/

    .dropdown .games_break_link {
        cursor: not-allowed;
        pointer-events: none;
    }

    .games_grid_container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: 600px;
        margin: auto;
        height: 140vh;
    }

    /*global +600px*/

    nav,
    nav li {
        display: inline-flex;
        width: auto;
    }

    .dropdown:hover>ul {
        display: block;
    }

    .login-mobil,
    .hamburgerbars,
    .searchfield,
    .searchbutton {
        display: none;
    }

    .social-media-icons {
        font-size: 50px;
    }

    nav ul {
        margin: 0px;
    }

    .login {
        display: inline-flex;
    }

    nav {
        top: 84px;
    }

    .cta {
        right: 90px;
        font-size: 1.8rem;
    }

    /*homepage +600px*/

    .backgroundpic {
        height: 550px;
    }

    .cta-view-more {
        display: inline-flex;
    }

    /*contactpage +600px*/

    .contact_container {
        flex-direction: row;
        position: relative;
        top: 50px;
        justify-content: center;
    }

    .contact {
        border-left: #96968D;
    }

    .call {
        margin-top: 50px;
        height: 200px;
    }

    .chat {
        display: inline-block;
        min-width: 300px;
        margin-block-start: 30px;
        height: 200px;
    }

}

@media (min-width: 1200px) {



    /*games +1200px*/

    .games_grid_container {
        width: 950px;
    }

    .game_grid_child {
        margin: 0px 40px 0px 40px;
    }

    /*home/index page +1200px*/
    .vr-backgroundpicture {
        background-image: url(../Images/vr-background-image_copy_adjusted\ copy.jpg);
        display: block;
        margin-bottom: 120px;
    }

    .vr-cta-view-more:hover {
        border-color: #D31421;
        background-color: #D31421;
    }

    .backgroundpic {
        height: 550px;
        margin-bottom: 30px;
    }

    h1,
    .cta {
        font-size: 3rem;
    }

    .footer_section_1,
    .footer_section_2 {
        display: grid;
        grid-auto-flow: column;
    }

    .footer_section_1,
    .footer_section_2 h4 {
        padding-top: 25px;
    }

    .logo-footer img {
        height: 120px;
        display: block;
        margin: 30px 0px 20px 30px;
    }

    .border1,
    .border2,
    .border3,
    .border4 {
        display: inline;
    }

    .cta:hover {
        border-color: #D31421;
        background-color: #D31421;
    }

    nav ul {
        margin: 0px;
    }

    .searchtool {
        display: none;
    }

    .login {
        display: inline-flex;
        padding-right: 0px;
    }

    .searchfield,
    .searchfield input,
    .searchbutton {
        display: inline-flex;
    }

    nav {
        top: 78px;
    }


    /*contactpage +1200px*/

    .contact_container {
        flex-direction: row;
    }

    .chat,
    .call {
        top: -32px;
    }

    .contact_container {
        gap: 25%;
    }

    .contact_header {
        position: relative;
        top: -20px;
    }

    /*New releases page +1200px*/

    .new_releases_container {
        flex-direction: row;
    }


    /* checkout page +1200px*/
    .checkout_container {
        flex-direction: row;
    }

    /*account page +1200px */

    .accountpage {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        height: 100vh;
        align-items: center;
        padding-top: 120px;
    }

    .signupfields_account {
        margin: 30px 0px 0px 40px;
        position: relative;
        top: 39px;
    }

    .header_salesmembership {
        position: relative;
        top: 40px;
    }

    .account_img_over1200px {
        display: block;
        height: min(150px, 250px);
        width: min(150px, 250px);
        border-radius: 37px;
        position: relative;
        top: -567px;
        left: -235px;
    }

    .account_img_under1200px,
    .img_background {
        display: none;

    }

    .account_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .account_information_cta {
        position: relative;
        top: 40px;
    }

    .header_my_account_page {
        position: relative;
        top: -64px;
        right: 242px;
    }

    .account_information_cta_over_1200px {
        display: none;
    }

    /*Furious add to cart(shopping cart +1200px*/

    .information_field_over_1200px {
        display: inline-flex;
        background-color: #d2d2c6;
        height: 23px;
        width: 900px;
        position: relative;
        top: -51px;
        right: 2px;
        justify-content: space-between;
        padding: 3px;
    }

    .furious_headers {
        height: 69vh;
    }

    .shopping_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .furious_img_add_to_cart {
        width: 180px;
        position: relative;
        top: -110px;
        left: 6px;
    }

    .heading_hide_your_under_1200px {
        display: inline-flex;
    }

    .heading_add_to_cart_page {
        position: relative;
        top: -174px;
        right: 195px;
    }

    .tabel_pointer {
        cursor: pointer;
    }

    .container_outline_1200px {
        width: 900px;
        height: 260px;
        outline: var(--base_color) solid 3px;
        position: relative;
        top: 230px;
    }

    .purchase {
        position: relative;
        top: 330px;
        left: 290px;
    }


    .right_price {
        position: relative;
        top: -264px;
        right: 90px;
    }

    .furious_game_information {
        display: inline-flex;
        position: relative;
        top: -264px;
        left: 138px;
    }

    .shipping {
        float: right;
        top: -58px;
    }

    .left_title_furious {
        position: relative;
        top: -318px;
        left: 203px;
    }

    .left_quantity,
    .remove_total {
        display: none;
    }

    .right_totalprice {
        display: inline;
        top: -421px;
        left: 400px;
        font-size: 16px;
    }

    .information_field_over_1200px p:last-child {
        position: relative;
        right: 100px;
    }

    .information_field_over_1200px p:nth-child(2) {
        position: relative;
        right: -115px;
    }

    .table {
        top: -295px;
        left: -270px;
    }

    /*login +1200px*/

    .login_container {
        display: flex;
        flex-direction: row;
    }

    .login_doomsday_image_container {
        display: flex;
        margin-right: 5%;
    }

    .login_doomsday_image {
        width: 250px;
        height: 250px;
        border-radius: 25px;
        display: inline-flex;
    }

    .login_section {
        display: flex;
        margin-left: 0%;
    }

    /*sign up page +1200px */

    .hidden {
        display: none;
    }

    .sign_up_section {
        display: flex;
        flex: 1;
        margin-right: 20%;
        max-width: 400px;

    }

    .Signup_image_container {
        display: flex;
        align-items: flex-end;
        flex: 1;
        margin-right: 40px;
    }

    .signup_container {
        height: 130vh;
    }

    /*furious game +1200px*/

    .furious {
        flex-direction: row;
        width: 100%;

    }

    .section_text {
        position: relative;
        top: 100px;
        max-width: 550px;
        flex: 2;
        margin-bottom: 1px;
        font-size: 16px;

    }

    .furious_game_img {
        width: 450px;
        margin: 60px 0px 70px 0px;
        flex: 1;
    }

    .ratings {
        position: relative;
        top: 105px;
        margin-bottom: 25px;
    }

    .add_to_cart {
        position: relative;
        top: 365px;
        right: 112px;
    }

    .furious h1 {
        position: relative;
        font-size: 19px;
        top: 42px;
        left: 620px;
    }

    .furious h2 {
        position: relative;
        top: 42px;
        left: 651px;
    }

    .furious_left {
        display: none;
    }

    .name_and_price {
        color: red;
        position: relative;
        top: 360px;
        font-weight: bolder;
    }

    .snapchat:hover,
    .facebook:hover,
    .snapchat:hover {
        color: #000;
    }
}